/* I add this line to all of my CSS files by default */
body * {
    box-sizing: border-box;
}

/*
----------
Properties
----------
align-items: 		(flex-start, flex-end, space-around, space-between, center)
justify-content: 	(same as align-items)
flex-direction: 	(row, column, row-reverse, column-reverse)
flex-wrap: 		    (no-wrap, wrap)
*/

main, section{
    border: solid black 1px;
}

main{
    padding: 10px;
    display: flex;
    justify-content: space-around;
    gap: 10px;
}
section{
    padding: 10px;
    width: 25%;
}

@media only screen and (max-width: 1000px) {
    main{
        flex-wrap: wrap;
    }
    section{
        width: 49%;
    }
}

@media only screen and (max-width: 600px) {
    section{
        width: 100%;
    }
}

