* {
    font-family: 'helvetica', 'ariel', 'sans-serif';
}

body {
    background-image: url(background.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
nav{
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem calc((100vw - 1300px) / 2);
}
nav ul,
nav li {
    margin: 0;
    padding: 0;
}
nav ul {
    list-style: none;
    width: 100%;
}
nav li {
    float: left;
    position: relative;
    width: auto;
    padding: 15px 55px;
    user-select: none;
    cursor: pointer;
}
nav a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: #000;
    transition: all .25s ease;
}
nav a:hover{
    font-weight: bold;
}
.submenu {
    position: absolute;
    left: 0;
    opacity: 0;
    width: 300px;
    top: 100%; 
    visibility: hidden;
    z-index: 1;
}
.has-submenu:hover .submenu {
    opacity: 1;
    visibility: visible;
    font-weight: 100;
}
.has-submenu:hover{
    font-weight: bold;
}
.logo{
    font-size: 1.5rem;
    font-weight: bold;
    font-style: italic;
    padding: 0 2rem;
    width: 200px;
}