@import url(https://fonts.googleapis.com/css?family=Oswald:300,400,700);

body * {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 20vh 20vw;
}

.section-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.section-container section {
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    background: #CCC;
}


#section1 {
    background: #0c7474;
    color: white;
    transition: all 0.3s ease-out;
}

#section1:hover {
    background: purple;
    width: 220px;
    height: 220px;
}


#part3::before{
    content: "Part 3:";
    background: #f88888;
    color: #fff;
    padding: 3px;
    border-radius: 3px;
}

#section2 {
    border-radius: 0%;
    transition: all .5s ease-in-out;
}
#section2:hover {
    border-radius: 50%;
} 
#section3 {
    transition: all .5s ease-in-out;
}
#section3:hover {
    transform: rotate(45deg);
} 

#section4 a{
    padding: 5px;
    border-radius: 5px;
    background: #000;
    color: #fff;
    text-decoration: none;
    border: 1px solid #000;
}
#section4 a:hover{
    background: #fff;
    color: #000;
    border: 1px solid #000;
}