*{
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-color: #f2f2f2;
}
header{
    background-color: #fff;
    padding: 25px;
    margin-bottom: 10px;
    border-radius: 10px;
}
header h1{
    font-weight: bold;
}
section{
    display: inline-block;
    background-color: #fff;
    margin: 10px;
    border-radius: 10px;
    transition: .2s;
}
section:hover{
    transform: scale(110%);
}
section img{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
section p{
    margin: 10px;
    text-align: center;
    font-weight: bold;
}
