html {
    scroll-behavior: smooth;
}

body * {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2em;
    position: fixed;
    top: 0;
    width: 100%;
}
ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 15em;
}
a{
    color: #000;
    text-decoration: none;
}


